---
import Button from "../Button.astro";
---

<section
    id="home-section"
    class="relative w-full h-screen before:absolute before:inset-0 before:bg-[url('/images/hero-bg.jpg')] before:bg-fixed before:bg-center before:bg-cover bg-dark before:opacity-20 after:hidden lg:after:block after:absolute after:top-0 after:left-0 after:bottom-0 after:w-[40%] after:h-screen after:bg-info flex items-center"
>
    <div class="cust-container relative z-[1]">
        <div class="flex">
            <div class="xl:w-2/6">
                <h1 class="text-4xl md:text-5xl font-semibold text-white">
                    Focus On What Matters
                </h1>
                <blockquote class="my-10 pl-5 border-l-2 border-primary">
                    <p class="text-[15px] text-white leading-6">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Perspiciatis cum recusandae eum laboriosam
                        voluptatem repudiandae odio, vel exercitationem officiis
                        provident minima.
                    </p>
                </blockquote>
                <Button> Get Started </Button>
            </div>
        </div>
    </div>
</section>
