---
const links = [
    "home",
    "about",
    "services",
    "portfolio",
    "team",
    "blog",
    "contact",
];
---

<header id="header-navbar" class="w-full py-10">
    <div class="cust-container">
        <div class="flex justify-between items-center">
            <a href="/" class="text-3xl font-bold roboto-slab"
                >Future <span class="text-primary">Fusion</span>
            </a>
            <ol class="hidden lg:flex lg:gap-x-6 xl:gap-x-8">
                {
                    links.map((link) => (
                        <li>
                            <a href={`/${link}`} class="capitalize">
                                {link}
                            </a>
                        </li>
                    ))
                }
            </ol>
            <button id="sidebar-btn" class="lg:hidden flex items-center">
                <i class="fa-solid fa-bars text-2xl"></i>
            </button>
        </div>
    </div>
</header>
<div
    id="sidebar"
    class="fixed -right-[400px] top-0 bottom-0 min-h-screen max-w-[400px] w-full bg-dark z-[12] transition-all duration-500"
>
    <div class="py-8 pl-8">
        <button id="sidebar-close-btn">
            <i class="fa-solid fa-arrow-right text-primary text-3xl"></i>
        </button>
    </div>
    <ol>
        {
            links.map((link) => (
                <li>
                    <a
                        href=""
                        class="block py-3 pl-8 transition-all duration-200 text-primary hover:bg-secondary hover:text-white capitalize"
                    >
                        {link}
                    </a>
                </li>
            ))
        }
    </ol>
</div>

<script is:inline>
    const select = (query, all = false) => {
        query = query.trim();
        if (all) return document.querySelectorAll(query);
        return document.querySelector(query);
    };

    const sidebarBtn = select("#sidebar-btn");
    const sidebar = select("#sidebar");
    const sidebarCloseBtn = select("#sidebar-close-btn");

    sidebarBtn.onclick = () => {
        sidebar.classList.remove("-right-[400px]");
        sidebar.classList.add("right-0");
    };

    sidebarCloseBtn.onclick = () => {
        sidebar.classList.remove("right-0");
        sidebar.classList.add("-right-[400px]");
    };
</script>
