---
const links = [
    "home",
    "about",
    "services",
    "portfolio",
    "team",
    "blog",
    "contact",
];
---

<header
    id="header-navbar"
    class="fixed w-full py-10 z-[10] transition-all duration-300"
>
    <div class="cust-container">
        <div class="flex justify-between items-center">
            <a href="/" class="text-3xl font-bold roboto-slab text-secondary"
                >Future<span class="text-primary">Fusion</span>
            </a>
            <ol class="hidden lg:flex lg:gap-x-6 xl:gap-x-8">
                {
                    links.map((link) => (
                        <li>
                            <a href={`/${link}`} class="capitalize text-white">
                                {link}
                            </a>
                        </li>
                    ))
                }
            </ol>
            <button id="sidebar-btn" class="lg:hidden flex items-center">
                <i class="fa-solid fa-bars text-2xl text-primary"></i>
            </button>
        </div>
    </div>
</header>
<div
    id="sidebar"
    class="fixed -right-[400px] top-0 bottom-0 min-h-screen max-w-[400px] w-full bg-info z-[12] transition-all duration-500"
>
    <button
        id="sidebar-close-btn"
        class="py-10 pl-8 transition-all duration-300"
    >
        <i class="fa-solid fa-arrow-right text-primary text-3xl"></i>
    </button>
    <ol>
        {
            links.map((link) => (
                <li>
                    <a
                        href={`/${link}`}
                        class="block py-3 pl-8 transition-all duration-200 text-white hover:bg-secondary capitalize"
                    >
                        {link}
                    </a>
                </li>
            ))
        }
    </ol>
</div>

<script is:inline>
    const select = (query, all = false) => {
        query = query.trim();
        if (all) return document.querySelectorAll(query);
        return document.querySelector(query);
    };

    const sidebarBtn = select("#sidebar-btn");
    const sidebar = select("#sidebar");
    const sidebarCloseBtn = select("#sidebar-close-btn");

    sidebarBtn.onclick = () => {
        sidebar.classList.remove("-right-[400px]");
        sidebar.classList.add("right-0");
    };

    sidebarCloseBtn.onclick = () => {
        sidebar.classList.remove("right-0");
        sidebar.classList.add("-right-[400px]");
    };

    // reduce navbar padding onscroll
    const navbar = select("#header-navbar");
    window.addEventListener("scroll", (e) => {
        e.preventDefault();

        if (window.scrollY >= 50) {
            navbar.classList.remove("py-10");
            navbar.classList.add("py-5", "bg-info", "shadow");

            sidebarCloseBtn.classList.remove("py-10");
            sidebarCloseBtn.classList.add("py-5");
        } else {
            navbar.classList.remove("py-5", "bg-info", "shadow");
            navbar.classList.add("py-10");

            sidebarCloseBtn.classList.remove("py-5");
            sidebarCloseBtn.classList.add("py-10");
        }
    });

    window.addEventListener("load", (e) => {
        e.preventDefault();
        if (window.scrollY >= 50) {
            navbar.classList.remove("py-10");
            navbar.classList.add("py-5", "bg-info", "shadow");

            sidebarCloseBtn.classList.remove("py-10");
            sidebarCloseBtn.classList.add("py-5");
        }
    });
</script>
