---
const { heading, info, textWhite = false } = Astro.props;
---

<section>
    <h2
        class={`relative text-3xl xl:text-4xl font-bold ${textWhite ? "text-white" : "text-[#2E3135]"}`}
    >
        {heading}
    </h2>

    <blockquote class="my-6 pl-5 border-l-2 border-primary">
        <p
            class={`text-sm md:text-base leading-6 ${textWhite ? "text-white" : "text-smoke"}`}
        >
            {info}
        </p>
    </blockquote>
</section>
