---
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={SITE_DESCRIPTION} />
        <meta name="title" content={SITE_TITLE} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <!-- <link rel="stylesheet" href="/css/fontawesome_all.min.css" /> -->
        <!-- <link rel="stylesheet" href="/css/glightbox.min.css" /> -->
        <!-- <link rel="stylesheet" href="/css/swiper_bundle.min.css" /> -->

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/css/glightbox.min.css"
            integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <title>{SITE_TITLE}</title>
    </head>
    <body>
        <slot />
        <!-- <script is:inline src="/js/fontawesome_all.min.js"></script> -->
        <!-- <script is:inline src="/js/glightbox.min.js"></script> -->
        <!-- <script is:inline src="/js/imagesloaded.pkgd.min.js"></script> -->
        <!-- <script is:inline src="/js/isotope.pkgd.min.js"></script> -->
        <!-- <script is:inline src="/js/swiper_bundle.min.js"></script> -->

        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"
            integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            is:inline
            src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/js/glightbox.min.js"
            integrity="sha512-RBWI5Qf647bcVhqbEnRoL4KuUT+Liz+oG5jtF+HP05Oa5088M9G0GxG0uoHR9cyq35VbjahcI+Hd1xwY8E1/Kg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
        ></script>
    </body>
</html>
<style is:global>
    html {
        font-family: "Roboto", sans-serif;
        height: 100%;
        width: 100%;
        background-color: #fff;
    }

    .roboto-slab {
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        @apply uppercase font-bold;
    }

    .cust-container {
        @apply w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px]  mx-auto px-4;
    }
</style>
